body {
    font-family: Arial;
    background-color: white;
}

span {
    color: gray;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 14px;
} 

p {
    font-size: 10px;
}


li {
    font-size: 10px;
}

header, section {
    background-color: rgb(148, 206, 222);
    margin: auto;
    padding: 5px 20px 5px 20px;
    width: 600px;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.address-list{
    padding: 0px 0px 5px 0px;
    list-style: none;
}

.address-icon {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    background-color: brown;
    border-radius: 20%;
    vertical-align: middle;
}